{% extends "template.twig" %}
{% block title %}
{% set title = 'Cave' %} 
{{ title }}
{% endblock %}
{% block head %}
<link rel="stylesheet" href="Public/css/header.css">
    <link rel="stylesheet" href="Public/css/index.css">  
    {{ parent() }}
{% endblock %}
{% block body %}
<header>
    <ul >  
        <li><a class="active linkHeader" href="/cave2/">Accueil</a></li>
        <li><a class="linkHeader" href="/cave2/a">Cave A</a></li>
        <li><a class="linkHeader" href="/cave2/b">Cave B</a></li>
        <li><a class="linkHeader" href="/cave2/c">Cave C</a></li>
        <li><a class="linkHeader" href="/cave2/d">Cave D</a></li>
        <li><a class="linkHeader" href="/cave2/e">Cave E</a></li>
        <li><a class="linkHeader" href="/cave2/f">Cave F</a></li>
        <li><a class="linkHeader" href="/cave2/g">Cave G</a></li>
    </ul>
</header>

<main>
    <section>
        <h1>Votre cave à vins</h1>
    </section>
</main>
{% endblock %}